.GreenButton {
  background: #53b228;
  border: none;
  padding: 13px 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  /* TEXT COLOR */

  color: #fdffff;
}

.BorderedButton {
  box-sizing: border-box;
  background: transparent;
  box-shadow: inset 0 0 0 1.5px #fdffff;
  padding: 13px 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  /* TEXT COLOR */
  border: none;
  color: #fdffff;
}

.read-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s ease;

  .underline-readmore {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* TEXT COLOR 2 */

    color: #cdcfd1;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #cdcfd1;
    transition: color 0.2s ease;
  }

  svg {
    margin-left: 20px;
    transition: color 0.2s ease;
  }
}

.read-more-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s ease;

  .underline-readmore {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* TEXT COLOR 2 */

    color: #1f2123;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #1f2123;
    transition: color 0.2s ease;
  }

  svg {
    margin-left: 20px;
    transition: color 0.2s ease;
  }
}

.read-more-btn:hover,
.read-more-btn-2:hover {
  transition: color 0.2s ease;
  .underline-readmore {
    color: #53b228;
    transition: color 0.2s ease;
    border-bottom: 1.5px solid #53b228;
  }

  svg {
    path {
      transition: color 0.2s ease;
      stroke: #53b228;
    }
    transition: color 0.2s ease;
  }
}
